/**** layout*/

html, body {
    background: url(../imagens/fundo.jpg);
    background-attachment: fixed;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}


/****header*/
#home{
    margin-top:150px;
    
}

.fundo-nav {
    background: #ac8468;
    opacity: 0.9;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #8B4513;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 20px;
    margin-right: 5px;
    border-bottom: 1px solid #8B4513;
    font-weight: bold; 
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #DCDCDC;
  background:#8B4513
}

button.navbar-toggler{
    border: 1px solid #8B4513;
}

.fa-bars, .fa-navicon {
    color: #8B4513;
   
}

#Pesquisar i{
color: #8B4513;
}


/*lateral****************/

#lateral{
    border: 1px solid #8B4513;
    padding: 20px auto;
    margin: 10px 0;
    background: #c9a892;
    opacity: 0.9;
    
}

#lateral ul li{
    padding: 10px;
    display: block;
    margin-top: 5px;
}

#lateral ul li a:hover{
   color: #DCDCDC;
   background: #8B4513;
}



#lateral a{
    color: #8B4513;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-bottom: 1px solid #8B4513;
    font-weight: bold;
}
#lateral form {
    margin: 10px 0;
    font-size: 10px;
}

#formulario-lateral{
    font-size: 30px;
}

form h4 {
color: #8B4513;
text-transform: uppercase;
padding: 20px;
}

form label{
    font-size: 20px;
    color: #8B4513;
}

#btn-style:hover {
    color: #DCDCDC;
    background: #cc7f4b;
    
}

a#btn-cadastre-se:hover {
    background: #8B4513;
    color: #DCDCDC;
    
}

.carousel-inner img{
    height: 30em;
    width: 100%;
}
.carousel-inner{
    box-shadow: 0px 20px 15px 20px rgba(0, 0, 0, 0.5);
    border: #8B4513 5px outset  ;
}

#fotos.col-md-8 {
margin-top: 10px;

}

/**** produtos*/

#produtos{
    background: #c9a892;
    opacity: 0.9;
    color: #8B4513;
    padding: 15px 10px;
    justify-content: center;
    text-align: center;
    
}

#produtos h3{
    text-transform: uppercase;
    padding: 15px;
    font-weight: bold;
}


 #nov-sal-lista.row{
    
  text-align: center;
  justify-content: center;
  justify-items: center;
    
}
 #nov_doce_lista.row{
  text-align: center;
  justify-content: center;
  justify-items: center;
    
}
 #nov-pao-lista.row{
  text-align: center;
  justify-content: center;
  justify-items: center;
    
}


 
#exibir {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: space-evenly;
    text-align: center;
    background-color: #f8c39d;
    flex-wrap: wrap;

}

.item-produto {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    padding: 15px 50px;
    border-bottom: 2px solid #8B4513;
    font-weight: bold;
    color: #8B4513;
    margin: 0 auto;
    width: 300px;
    height: 370px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);

}

.item-produto img {

    width: 200px;
    height: 150px;
    border: 3px ridge #8B4513;

}


.h3Produto {
    
    color: #8B4513;
    padding: 10px;
}

.preco {
    font-size: 15px;
    text-decoration: underline;
}

.id_produto,
.id_produto1, .id_produto_nov{
    color: #8B4513;
    background-color: #ffbc8c;
    width: 100px;
}

.notificacao {
    color: #8B4513;
    margin-top: 100px;

}

/*************************************************
ESTILIZANDO MODAL********************/

dialog .container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(139, 69, 19, 0.9);
    width: 400px;
    position: relative;
}

dialog #myModal {
    border: none;
    
}

h2 {
    text-align: center;
    color: #8B4513;
}

#T {
    text-align: center;
    color: #8B4513;
}

#P {
    text-align: center;
    color: #8B4513;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #8B4513;
}

select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    color: #c5590b;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Garante que padding não afeta a largura total */
}

.btn_modal {
    width: 100%;
    padding: 10px;
    background-color: #b3591a;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #743910;
}

#closeModalBtn {
    position: absolute;
    text-align: end;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #b3591a;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    line-height: 1;
    transition: color 0.2s;
    z-index: 10;
}

#closeModalBtn:hover {
    color: #63300b;

}

#closeModalBtn:focus {
    border: none;
    outline: none;

}

/* 1. Esconde o input original */
.custom-file-upload .input-hidden {
    /* Torna o input invisível e não interfere no layout */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* 2. Estiliza o LABEL (que se tornará o botão) */
.custom-file-upload label {
    display: inline-block;
    /* Permite definir largura e altura */
    padding: 10px 20px;
    margin-right: 15px;
    /* Espaço entre o botão e o texto do arquivo */
    background-color: #b3591a;
    /* Cor primária do seu site */
    color: white;
    /* Cor do texto no botão */
    border-radius: 5px;
    cursor: pointer;
    /* Indica que é clicável */
    transition: background-color 0.3s ease;
    /* Transição suave na mudança de cor */
    text-align: center;
}

.custom-file-upload label:hover {
    background-color: #63300b;
}

/* 4. Estiliza o display do nome do arquivo */
.custom-file-upload .file-name-display {
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #6c757d;
    font-style: italic;
    vertical-align: middle;
    /* Alinha o texto com o botão */
}

/*.conteudo-pesquisa{
    display:none;
}*/
#principalEsconder {
    display: none;
}

#todos_os_produtos_esconder {
    display: none;
}

/********** footer*************/
footer{
    background: #ac8468;
    opacity: 0.9;
    margin-top: 10px;
    padding: 15px 10px;
    text-align: justify;
    
}

footer #rede-rodape a{
margin-bottom: 10px;
margin-top: 10px;
}

footer #rede-rodape p{
    color: #3d1b03;
    
}

.mapa{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.mapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

h4{
    text-transform: uppercase;
    font-size: 20px;
    color: #4d2204;
    font-weight: bold;
}

.info-rodape p{
    color: #3d1b03;
    margin-top: 10px;
    
}



/*/ Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .valor{
        text-align: justify;
      }
    
      .nov-list a p{
        text-align: justify;
      }

      footer{
        text-align: center;
    }


}

/*/ Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  .valor{
    text-align: start;
  }

  .nov-list a p{
    text-align: start;
  }

  footer{
    text-align: center;
}
 }

/*/ Medium devices (tablets, 768px and up)/*/
@media (min-width: 768px) { 
}

/*/ Large devices (desktops, 992px and up)/*/
@media (min-width: 992px) { 
    
 }

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
}